@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode variables */
:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f6f8fa;
  --bg-tertiary: #f6f8fa;
  --bg-quartiary: #dee1e5;
  --bg-button: #f6f8fa;
  --bg-hover: #eaedf0;

  --bg-mobile-primary: #fffeff;
  --bg-mobile-body: #eff0f5;

  --text-primary: #1f2328;
  --text-secondary: #6b747e;
  --text-link: #4493f8;

  --accent-border: #d1d9e0;
  --accent-active: #fd8c73;
  --accent-icon: #59636e;
  --accent-extra: #0969da;

  --other-chart-square: #ebedf0;
  --other-chart-green1: #0be9a8;
  --other-chart-green2: #40c463;
  --other-chart-green3: #30a14e;
  --other-chart-green4: #216e39;
  --other-chart-blue1: #339af0;
  --other-chart-blue2: #007bff;
  --other-chart-blue3: #0056b3;
  --other-chart-blue4: #003f88;
  --other-chart-purple1: #9370db;
  --other-chart-purple2: #8a2be2;
  --other-chart-purple3: #6a0dad;
  --other-chart-purple4: #4b0082;
  --other-chart-orange1: #ffc066;
  --other-chart-orange2: #ffa940;
  --other-chart-orange3: #ff8c1a;
  --other-chart-orange4: #ff6f00;
  --other-chart-red1: #ffcdd2;
  --other-chart-red2: #ef9a9a;
  --other-chart-red3: #e57373;
  --other-chart-red4: #f44336;
  --other-chart-yellow1: #dad07b;
  --other-chart-yellow2: #fae84b;
  --other-chart-yellow3: #ecd718;
  --other-chart-yellow4: #ceba0c;

  /* Font Sizes */
  --font-xs: 12px;
  --font-sm: 14px;
  --font-base: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-2xl: 21px;
  --font-3xl: 24px;
  --font-4xl: 28px;
  --font-5xl: 32px;

  /* Font families */
  --fontStack-default: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  --fontStack-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;

  /* Others */
  --border-radious-medium: 0.375rem;
  --padding-out: 2rem;
  --padding-in: 24px;
  --gap-standard: 24px;
  --gap-standard-mobile: 18px;
  --line-height-standard: 1.5;
}

/* Dark mode variables */
.dark {
  --bg-primary: #0d1117;
  --bg-secondary: #010409;
  --bg-tertiary: #151b23;
  --bg-quartiary: #15191f;
  --bg-button: #212830;
  --bg-hover: #15191f;

  --bg-mobile-primary: #16191c;
  --bg-mobile-body: #040405;

  --text-primary: #f0f6fc;
  --text-secondary: #858c95;
  --text-link: #4493f8;

  --accent-border: #2f353d;
  --accent-active: #f78166;
  --accent-icon: #9198a1;
  --accent-extra: #238636;

  --other-chart-square: #161b22;
  --other-chart-green1: #034429;
  --other-chart-green2: #006d32;
  --other-chart-green3: #26a641;
  --other-chart-green4: #39d353;
  --other-chart-blue1: #1e3a73;
  --other-chart-blue2: #2c549f;
  --other-chart-blue3: #3b6be4;
  --other-chart-blue4: #4e88ff;
  --other-chart-purple1: #6c5491;
  --other-chart-purple2: #8f6bb5;
  --other-chart-purple3: #aa88d3;
  --other-chart-purple4: #caa3ff;
  --other-chart-orange1: #b3741f;
  --other-chart-orange2: #e6962b;
  --other-chart-orange3: #ffae52;
  --other-chart-orange4: #ffc982;
  --other-chart-red1: #f44336;
  --other-chart-red2: #e57373;
  --other-chart-red3: #ef9a9a;
  --other-chart-red4: #ffcdd2;
  --other-chart-yellow1: #ffeb3b;
  --other-chart-yellow2: #fff176;
  --other-chart-yellow3: #fff59d;
  --other-chart-yellow4: #fff9c4;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit; /* Apply box-sizing to all elements */
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fontStack-default);
  font-size: var(--font-base);
  line-height: var(--line-height-standard);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.1s ease-in-out;
}

/* Default styles for sections */
section,
div,
nav {
  transition: background-color 0.2s ease, color 0.2s ease;
}

nav {
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--accent-border);
  padding: 16px 28px 10px 28px;
}

section {
  padding: var(--padding-out) var(--padding-out) 0 var(--padding-out);
}

.monospace-text {
  font-family: var(--fontStack-monospace) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: var(--text-primary);
  text-underline-offset: 1px;
}

/* Headings and text with font sizes */
h1 {
  font-size: var(--font-5xl);
}

h2 {
  font-size: var(--font-4xl);
}

h3 {
  font-size: var(--font-3xl);
  font-weight: 600;
}

h4 {
  font-size: var(--font-2xl);
}

h6 {
  font-size: var(--font-sm);
  font-weight: 500;
}

p {
  font-size: var(--font-base);
}

a {
  color: var(--text-link);
  font-size: var(--font-sm);
  font-weight: 400;
  text-underline-offset: 1px;
}

/* Flex styles */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Div styles */

.with-profile-bar {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: var(--gap-standard);
}

.main-container {
  width: 895px;
  max-width: 895px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.borded-container {
  width: 100%;
  padding: var(--padding-in);
  border: 1px solid var(--accent-border);
  border-radius: var(--border-radious-medium);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hover-box {
  background-color: transparent;
  transition: all 0.1s ease;
  padding: 6px 5px;
  border-radius: var(--border-radious-medium);
}

.hover-box:hover {
  background-color: var(--bg-hover);
}

@media (max-width: 767px) {
  body {
    background: var(--bg-mobile-body);
  }
  section {
    padding: 0;
  }
  nav {
    background-color: var(--bg-mobile-primary);
  }
  .with-profile-bar {
    flex-direction: column;
    gap: var(--gap-standard-mobile);
  }
  .main-container {
    width: 100%;
    max-width: 100%;
  }
  .borded-container {
    width: 100%;
    padding: var(--padding-in) 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--accent-border);
    border-radius: 0;
    background-color: var(--bg-mobile-primary);
  }
}

/* Buttons styles */

.btn-primary {
  background-color: var(--accent-extra);
  padding: 6px 12px;
  border-radius: var(--border-radious-medium);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: white;
  transition: all 0.1s ease-in-out;
}
.btn-primary:hover {
  filter: brightness(1.1);
}
.btn-primary:active {
  filter: brightness(1.25);
}
.btn-primary:disabled {
  filter: none;
  cursor: not-allowed;
}

.btn-primary:disabled:hover,
.btn-primary:disabled:active {
  filter: none;
}

.btn-secondary {
  background-color: transparent;
  transition: all 0.1s ease-in-out;
  padding: 6px 5px;
  border-radius: 0.375rem;
  border: 1px solid var(--accent-border);
  gap: 6px;
}

.btn-secondary:hover {
  background-color: var(--bg-hover);
}

/* Splash styles */

/* Splash container */
.splash-container {
  background-color: #0d1117;
  opacity: 1;
  animation-name: end-splash;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-delay: 2.4s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

/* keyframe for ending the splash smoothly */
@keyframes end-splash {
  to {
    opacity: 0;
  }
}

/* Splash text styles */
.splash-text {
  color: #f0f6fc;
  margin: 0 auto;
}

.splash-text span {
  opacity: 0;
  animation: appear 1.5s forwards;
}

/* Keyframes for appearance */
@keyframes appear {
  to {
    opacity: 1;
  }
}

/* Adding delay to each span */
.splash-text span:nth-child(1) {
  animation-delay: 0.4s;
}
.splash-text span:nth-child(2) {
  animation-delay: 0.6s;
}
.splash-text span:nth-child(3) {
  animation-delay: 0.8s;
}
.splash-text span:nth-child(4) {
  animation-delay: 1s;
}
.splash-text span:nth-child(5) {
  animation-delay: 1.2s;
}

/* Contribution chart styles */

.months-row {
  display: grid;
  /* grid-template-columns: repeat(12, 1fr); */
  grid-template-columns: repeat(12, minmax(40px, 1fr));
  text-align: center;
  font-size: 12px;
}

.chart-grid {
  display: flex;
}

.weekdays-column {
  display: grid;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-rows: repeat(3, minmax(14px, 1fr));
  font-size: 12px;
  margin-right: 10px;
}

.grid-chart {
  display: flex;
  flex-direction: column; /* Stack days vertically */
  gap: 3px;
}

.day-row {
  display: flex;
  flex-direction: row; /* Stack weeks horizontally */
  gap: 3px;
}

.square-chart {
  width: 10px;
  height: 10px;
  background-color: var(--other-chart-square);
  border-radius: 2px;
}

/* GreetingPopup styles */

.gp-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: black;
  opacity: 0;
}

.gp-overlay-fade-in {
  animation: fadeIn 0.4s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

.gp-overlay-fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

.triangle {
  position: absolute;
  right: -10px;
  bottom: -1px;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-left: 15px solid white;
  border-bottom: 0px solid transparent;
}

.gp-image-in {
  animation: slideIn 0.3s forwards;
  animation-delay: 0.4s;
}

@keyframes slideIn {
  from {
    right: -280px;
  }
  to {
    right: 16px;
  }
}

.gp-image-out {
  animation: slideOut 0.5s forwards;
  animation-delay: 0.3;
}

@keyframes slideOut {
  from {
    opacity: 1;
    right: 16px;
    bottom: 16px;
  }
  to {
    opacity: 1;
    right: -280px;
    bottom: 16px;
  }
}

.gp-comic-in {
  animation: comicIn 0.2s forwards;
  animation-delay: 0.6s;
}

@keyframes comicIn {
  from {
    opacity: 0;
    top: -140px;
  }
  to {
    opacity: 1;
    top: -200px;
  }
}

@media (max-width: 639px) {
  @keyframes comicIn {
    from {
      opacity: 0;
      top: -120px;
    }
    to {
      opacity: 1;
      top: -180px;
    }
  }
}

@media (max-width: 455px) {
  @keyframes slideIn {
    from {
      right: -280px;
    }
    to {
      right: 0;
    }
  }
}

.small-height-hidden {
}
.small-height-show {
  display: none;
}
.small-height-no-show-overlay {
}
.small-height-show-comic {
  display: none;
}
.small-height-closing {
}

@media (max-height: 525px) {
  .small-height-hidden {
    display: none;
  }
  .small-height-show {
    display: flex;
    background-color: rgba(0, 0, 0, 0.473);
    justify-content: end;
    align-items: end;
    width: 100%;
    height: 100dvh;
    padding: 16px;
    gap: 16px;
    bottom: -400px;
    animation: appear 0.4s forwards;
    opacity: 0;
  }
  .small-height-show-comic {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    max-width: 600px;
    padding: 16px;
    text-align: left;
  }
  .small-height-no-show-overlay {
    display: none;
  }
  .small-height-closing {
    animation: disappear 0.4s forwards;
  }

  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes disappear {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.gp-comic-out {
  animation: comicOut 0.3s forwards;
}

@keyframes comicOut {
  from {
    opacity: 1;
    transform: scale(1);
    top: -200px;
  }
  to {
    opacity: 0;
    transform: scale(0);
    top: -200px;
  }
}

/* Other */

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Thin and light gray scrollbar styling */
.thin-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgb(107, 107, 107) transparent; /* Firefox */
}

/* WebKit browsers */
.thin-scrollbar::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  height: 4px; /* Height of the scrollbar */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(107, 107, 107); /* Scrollbar thumb color */
  border-radius: 3px; /* Scrollbar thumb roundness */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Scrollbar track color */
}

/* Tailwind */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply font-sans;
  }
  :root {
    --radius: 0.5rem;
  }
}

/* Temporary */

.temp-width {
  /* width: clamp(70%, 60vw, 100%); */
  width: 100%;
}

@media (max-width: 1210px) {
  .temp-width {
    width: 705px;
  }
}

@media (max-width: 1185px) {
  .temp-width {
    width: 671px;
  }
}

@media (max-width: 1155px) {
  .temp-width {
    width: 641px;
  }
}

@media (max-width: 1116px) {
  .temp-width {
    width: 602px;
  }
}

@media (max-width: 1076px) {
  .temp-width {
    width: 562px;
  }
}

@media (max-width: 1042px) {
  .temp-width {
    width: 528px;
  }
}

@media (max-width: 960px) {
  .temp-width {
    width: 486px;
  }
}

@media (max-width: 918px) {
  .temp-width {
    width: 444px;
  }
}

@media (max-width: 885px) {
  .temp-width {
    width: 410px;
  }
}

@media (max-width: 850px) {
  .temp-width {
    width: 374px;
  }
}

@media (max-width: 806px) {
  .temp-width {
    width: 332px;
  }
}

@media (max-width: 767px) {
  .temp-width {
    width: 100%;
  }
}

/* special styles for height responsiveness, when user rotate the phone */

.rh-flex-col {
  flex-direction: column;
}

.rh-p-loading {
  padding: 80px 16px;
}

@media (max-height: 500px) {
  .rh-flex-col {
    flex-direction: row;
  }
  .rh-p-loading {
    padding: 46px 12px;
  }
}
